node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.next
out
build
coverage
storybook-static
*storybook.log

.git
.gitignore
.github

.env.local
.env.*.local

.vscode
.idea
.DS_Store

Dockerfile
.dockerignore
README.md
*.md
